@using StackExchange.Profiling
@using System.Web.Optimization
@model QuilmesAC.ViewModels.BaseViewModel

<!DOCTYPE html>
<html>
<head>
    <title>Quilmes AC | @ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @RenderSection("Head", false)
</head>
<body>
    <div class="wrapper">
        <header>
            <ul id="social">
                <li id="fb">
                    <a target="_blank" href="https://www.facebook.com/groups/222071347985558/" title="facebook"></a>
                </li>
                <li id="twt">
                    <a target="_blank" href="http://www.twitter.com" title="twitter"></a>
                </li>
                <li id="yt">
                    <a target="_blank" href="http://www.youtube.com" title="youtube"></a>
                </li>
                <li id="rss">
                    <a target="_blank" href="http://en.wikipedia.org/wiki/RSS" title="rss"></a>
                </li>
                <li id="shr">
                    <a target="_blank" href="" title="share"></a>
                </li>
                <li id="login">
                    @(String.IsNullOrEmpty(User.Identity.Name)
                                ? Html.ActionLink("Login", "Login", "User")
                                : Html.ActionLink("Logout", "Logout", "User"))
                </li>
            </ul>
        </header>
        <ul id="banner">
            <li class="crest"><a href="@Url.Action("Index", "Home")" title="Quilmes AC"></a></li>
            <li>
                <h1>Quilmes Atlético Club RVA</h1>
            </li>
        </ul>
        <div class="inner-wrapper">
            <nav>
                <ul>
                    <li class="@(Model.CurrentTab == "Home" ? "selected" : "")">
                        @Html.ActionLink("Home", "Index", "Home")
                    </li>
                    <li class="@(Model.CurrentTab == "Player" ? "selected" : "")">
                        @Html.ActionLink("Team", "Index", "Player")
                    </li>
                    <li class="@(Model.CurrentTab == "Match" ? "selected" : "")">
                        @Html.ActionLink("Fixtures/Results", "Index", "Match")
                    </li>
                    @{
                        if (Model.User != null && Model.User.UserRoles.Any(x => x.Role.Name == "Admin"))
                        {
                            <li class="@(Model.CurrentTab == "Admin" ? "selected" : "")">
                                @Html.ActionLink("Admin", "Index", "Admin")
                            </li>
                        }
                    }
                </ul>
            </nav>
            <div class="main-content">
                @RenderBody()
            </div>
            <div class="bottom-logos">
                <img src="~/Content/Images/adidas-logo.jpg" class="adidas-logo" alt="Quilmes" />
                <img src="~/Content/Images/quilmes_beer_logo.png" class="beer-logo" alt="Adidas" />
                <a href="https://www.facebook.com/StachesquatchDesign?fref=ts" target="_blank">
                    <img src="~/Content/Images/Stachesquatch.jpg" class="stache" alt="Stachesquatch" />
                </a>

                @*<a href="https://www.facebook.com/306090studios" target="_blank">
                        <img src="~/Content/Images/306090.jpg" class="erek-studio" alt="306090" />
                    </a>*@
            </div>
        </div>
        <footer>
            Quilmes AC | <a href="mailto:parkerjn2@vcu.edu">Contact</a> | Richmond, VA<br />
            <a href="http://www.cvsasoccer.org/" target="_blank">Central Virginia Soccer Association</a> | @Html.ActionLink("Privacy Policy", "Index", "PrivacyPolicy")
        </footer>
    </div>
    @Scripts.Render("~/Scripts")
    @RenderSection("Scripts", false)
    @MiniProfiler.RenderIncludes()
</body>
</html>