@using System.Web.Optimization
@using StackExchange.Profiling
@model QuilmesAC.ViewModels.BaseViewModel

<!DOCTYPE html>
<html>
<head>
    <title>Quilmes AC | @ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    <link rel="stylesheet/less" type="text/css" href="~/Content/Less/Site.less" />
    @Scripts.Render("~/Scripts")
    @RenderSection("Head", false)
</head>
    <body>
        <div class="wrapper">
            <div class="main">
                <header>
                    <ul id="social">
                        <li id="fb">
                            <a target="_blank" href="https://www.facebook.com/groups/222071347985558/"></a>
                        </li>
                        <li id="login">
                            @(String.IsNullOrEmpty(User.Identity.Name)
                                  ? Html.ActionLink("Login", "Login", "User")
                                  : Html.ActionLink("Logout", "Logout", "User"))
                        </li>
                    </ul>
                    <ul id="banner">
                        <li class="crest"><a href="@Url.Action("Index", "Home")"></a></li>
                        <li>Quilmes Atlético Club</li>
                    </ul>
                </header>
                <nav>
                    <ul>
                        <li class="@(Model.CurrentTab == "Home" ? "selected" : "")">
                            @Html.ActionLink("Home", "Index", "Home")
                        </li>
                        <li class="@(Model.CurrentTab == "Player" ? "selected" : "")">
                            @Html.ActionLink("Team", "Index", "Player")
                        </li>
                        <li class="@(Model.CurrentTab == "Match" ? "selected" : "")">
                            @Html.ActionLink("Matches", "Index", "Match")
                        </li>
                    </ul>
                </nav>
                <div class="main-content">
                    @RenderBody()
                    <br class="clear"/>
                </div>
                <footer>Quilmes AC | Richmond, VA</footer>
            </div>
        </div>
        @MiniProfiler.RenderIncludes()
        @RenderSection("Scripts", false)
    </body>
</html>