@using StackExchange.Profiling
@using System.Web.Optimization
@model QuilmesAC.ViewModels.BaseViewModel

<!DOCTYPE html>
<html lang="en-us">
<head>
    <title>Quilmes AC | @ViewBag.Title</title>
    <link rel="icon" type="image/png" href="~/Content/Images/erek_crest.png" />
    <link href="@Url.Content("~/Content/themes/custom/jquery-ui.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/themes/custom/jquery-ui.theme.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/jquery.jqGrid/ui.jqgrid.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Less/Site.less")" rel="stylesheet/less" type="text/css" />
    @RenderSection("Head", false)
</head>
<body>
    <div class="wrapper">
        <header>
            <ul id="social">
                <li id="fb">
                    <a target="_blank" href="https://www.facebook.com/groups/222071347985558/" title="facebook"></a>
                </li>
                <li id="twt">
                    <a target="_blank" href="https://twitter.com/QuilmesRVA" title="twitter"></a>
                </li>
                <li id="yt">
                    <a target="_blank" href="https://www.youtube.com/channel/UCwuoqB6TiuKAw23-KhHDH3A/feed" title="Quilmes RVA Sunday League"></a>
                </li>
                @*<li id="rss">
                            <a target="_blank" href="" title="rss"></a>
                        </li>
                    <li id="shr">
                            <a target="_blank" href="" title="share"></a>
                        </li>*@
                <li id="login">
                    @(String.IsNullOrEmpty(User.Identity.Name)
                                ? Html.ActionLink("Login", "Login", "User")
                                : Html.ActionLink("Logout", "Logout", "User"))
                </li>
            </ul>
        </header>
        <ul id="banner">
            <li class="crest"><a href="@Url.Action("Index", "Home")" title="Quilmes AC"></a></li>
            <li>
                <h1>Quilmes Atlético Club RVA</h1>
            </li>
        </ul>
        <div class="inner-wrapper">
            <nav>
                <ul>
                    <li class="@(Model.CurrentTab == "Home" ? "selected" : "")">
                        @Html.ActionLink("Home", "Index", "Home")
                    </li>
                    <li class="@(Model.CurrentTab == "Player" ? "selected" : "")">
                        @Html.ActionLink("Team", "Index", "Player")
                    </li>
                    <li class="@(Model.CurrentTab == "Match" ? "selected" : "")">
                        @Html.ActionLink("Fixtures", "Index", "Match")
                    </li>
                    <li class="@(Model.CurrentTab == "About" ? "selected" : "")">
                        @Html.ActionLink("About", "Index", "About")
                    </li>
                    @{
                        if (Model.User != null && Model.User.UserRoles.Any(x => x.Role.Name == "Admin"))
                        {
                            <li class="@(Model.CurrentTab == "Admin" ? "selected" : "")">
                                @Html.ActionLink("Admin", "Index", "Admin")
                            </li>
                        }
                    }
                </ul>
            </nav>
            <div class="main-content">
                @RenderBody()
            </div>
            <div class="bottom-logos bootstrap">
                @*<img src="~/Content/Images/adidas-logo.jpg" class="adidas-logo" alt="Quilmes" />*@
                <img src="~/Content/Images/quilmes_beer_logo.png" class="beer-logo" alt="Adidas" />
                <a href="https://www.facebook.com/StachesquatchDesign" target="_blank">
                    <img src="~/Content/Images/Stachesquatch.jpg" class="stache" alt="Stachesquatch" />
                </a>
                <a href="https://www.facebook.com/306090studios" target="_blank">
                    <img src="~/Content/Images/306090.jpg" class="erek-studio" alt="306090" />
                </a>
            </div>
        </div>
        <footer>
            Quilmes AC | <a href="mailto:quilmesrva@gmail.com">Contact</a> | Richmond, VA<br />
            <a href="http://www.cvsasoccer.org/" target="_blank">Central Virginia Soccer Association</a> | @Html.ActionLink("Privacy Policy", "Index", "PrivacyPolicy")
        </footer>
    </div>
    <script src="~/Scripts/jquery-2.1.3.js"></script>
    <script src="~/Scripts/jquery-ui-1.11.1.js"></script>
    <script src="~/Scripts/jquery.jqGrid.src.js"></script>
    <script src="~/Scripts/i18n/grid.locale-en.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/less-2.3.1.js"></script>
    <script src="~/Scripts/Global.js"></script>
    @RenderSection("Scripts", false)
    @MiniProfiler.RenderIncludes()
</body>
</html>