@model QuilmesAC.ViewModels.PlayerViewModel

@{
	ViewBag.Title = "Team";
}
@section Head
{
	<link href="@Url.Content("/Views/Player/Index.less")" rel="stylesheet/less" type="text/css" />
}

<h2>Team</h2>
<ul class="center">
	@{
		if (Model.User != null && Model.User.UserRoles.Any(x => x.Role.Name == "Admin"))
		{
			<li>
				Double click a player to edit stats.
			</li>
		}
	}
	<li class="hidden">
		@Html.LabelFor(model => model.StatusID)
		@Html.DropDownListFor(model => model.StatusID, Model.Statuses, "All")
	</li>
	<li>
		@Html.LabelFor(model => model.SeasonID)
		@Html.DropDownListFor(model => model.SeasonID, Model.Seasons, "All")
	</li>
</ul>
@using (Html.BeginForm(null, null, FormMethod.Get, new { id = "mainForm" }))
{

	<div id="leagueTables">
		<div id="matchTable">
			<table id="list"></table>
			<div id="pager"></div>
		</div>
		<div id="standingTable">
			<table id="standingList"></table>
			<div id="standingPager"></div>
		</div>
		<div class="clear"></div>
	</div>

	@*<div class="table">
		<div class="header-row">
			<div class="cell">Name</div>
			<div class="cell">No.</div>
			<div class="cell">Goals</div>
			<div class="cell">Assists</div>
			<div class="cell">YC</div>
			<div class="cell">RC</div>
		</div>

		@for (int i = 0; i < Model.Players.Count; i++)
		{
			<div class="@(i % 2 == 0 ? "row-even" : "row-odd")">
				<div class="cell">@String.Format("{0}, {1}", Model.Players[i].LastName, Model.Players[i].FirstName)</div>
				<div class="cell">@Model.Players[i].Number</div>
				<div class="cell">@Model.Players[i].Goals.Count</div>
				<div class="cell">@Model.Players[i].Assists.Count</div>
				<div class="cell">@Model.Players[i].Cards.Count</div>
				<div class="cell">@Model.Players[i].Cards.Count</div>
			</div>
		}
	</div>*@
}

@section Scripts
{
	<script id="Index.js" src="~/Views/Player/Index.js"
			data-url="@Url.Action("GridData")"
			data-sort-by="@ViewBag.SortBy"
			data-sort-order="@ViewBag.SortOrder"
			data-page="@ViewBag.Page"
			data-rows="@ViewBag.Rows"
			data-action-edit="@Url.Action("Edit", "Player", new { id = "" })"></script>
}