@using QuilmesAC.Helpers

@model QuilmesAC.ViewModels.UserViewModel
@{
    ViewBag.Title = "Register";
}

<h2>Register</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true).Raw()
    <ul>
        <li class="main-left">
            <fieldset>
                <legend>Register for access</legend>
                <ul>
                    <li>
                        @Html.RequriedLabelFor(model => model.Username)
                        @Html.TextBoxFor(model => model.Username, new { @class = "required" })
                    </li>
                    <li>
                        @Html.RequriedLabelFor(model => model.Password)
                        @Html.EditorFor(model => model.Password, new { @class = "required" })
                    </li>
                    <li>
                        @Html.LabelFor(model => model.Email)
                        @Html.TextBoxFor(model => model.Email)
                    </li>
                    <li class="center">
                        <input type="submit" value="Submit" />
                    </li>
                </ul>
            </fieldset>
        </li>
        <li class="clear" />
    </ul>
}