@using QuilmesAC.Helpers
@model QuilmesAC.ViewModels.FixtureViewModel
@{
    ViewBag.Title = "Match";
}
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true).Raw()
    <ul>
        <li class="main-left">
            <fieldset>
                <legend>Add a Match</legend>
                <ul>
                    <li>
                        @Html.LabelFor(model => model.MatchDay)
                        @Html.TextBoxFor(model => model.MatchDay, new { Value = "" })
                    </li>
                    <li>
                        @Html.LabelFor(model => model.MatchDate)
                        @(new HtmlString(Html.DatePickerFor(model => model.MatchDate)))
                    </li>
                    <li>
                        @Html.RequriedLabelFor(model => model.OpponentID)
                        @Html.DropDownListFor(model => model.OpponentID, Model.Opponents, "-- Select --")
                        @Html.ValidationMessageFor(model => model.OpponentID)
                    </li>
                    <li>
                        @Html.LabelFor(model => model.GoalsFor)
                        @Html.TextBoxFor(model => model.GoalsFor, new { Value = "" })
                    </li>
                    <li>
                        @Html.LabelFor(model => model.GoalsAgainst)
                        @Html.TextBoxFor(model => model.GoalsAgainst, new { Value = "" })
                    </li>
                    <li>
                        @Html.LabelFor(model => model.Result)
                        @Html.DropDownListFor(model => model.Result, Model.Results, "-- Select --")
                    </li>
                    <li>
                        @Html.RequriedLabelFor(model => model.SeasonID)
                        @Html.DropDownListFor(model => model.SeasonID, Model.Seasons, "-- Select --")
                        @Html.ValidationMessageFor(model => model.SeasonID)
                    </li>
                    <li class="center">
                        <input type="submit" value="Add Match" />
                    </li>
                </ul>
            </fieldset>
        </li>
        <li class="clear" />
    </ul>
}