@using System.Activities.Statements
@model QuilmesAC.ViewModels.FixtureViewModel
@{
	ViewBag.Title = "Fixtures";
}
@section Head
{
	<link href="@Url.Content("/Views/Fixture/Index.less")" rel="stylesheet/less" type="text/css" />
}
<h2>Fixtures and Results</h2>
<ul>
	<li>
		@Html.LabelFor(model => model.SeasonID)
		@Html.DropDownListFor(model => model.SeasonID, Model.Seasons, "All Time")
	</li>
</ul>

@using (Html.BeginForm(null, null, FormMethod.Get, new { id = "mainForm" }))
{
    <div id="fixtureTables" class="center">
        <div id="matchTable">
            <div class="header-row">
                <div class="cell">Match Day</div>
                <div class="cell">Match Date</div>
                <div class="cell">Opponent</div>
                <div class="cell">GF</div>
                <div class="cell">GA</div>
                <div class="cell">Result</div>
            </div>
            @foreach (var match in Model.Matches)
            {
                <div class="@(match.MatchDay % 2 == 0 ? "row-even" : "row-odd")">
                    <div class="cell">@match.MatchDay</div>
                    <div class="cell">@String.Format("{0:M/d/yyyy}", match.MatchDate)</div>
                    <div class="cell table-team">@match.Opponent.Name</div>
                    <div class="cell">@match.GoalsFor</div>
                    <div class="cell">@match.GoalsAgainst</div>
                    <div class="cell">@match.Result</div>
                </div>
            }
        </div>

        <div id="standingTable">
            <div class="header-row">
                <div class="cell">League Table</div>
                <div class="cell">GP</div>
                <div class="cell">W</div>
                <div class="cell">D</div>
                <div class="cell">L</div>
                <div class="cell">GF</div>
                <div class="cell">GA</div>
                <div class="cell">Diff</div>
                <div class="cell">Pts.</div>
            </div>
            @foreach (var standing in Model.Standings)
            {
                <div class="@(standing.Opponent.Name == "Quilmes AC" ? "quilmes-row" : (standing.Position % 2 == 0 ? "row-even" : "row-odd"))">
                    <div class="cell table-team">@standing.Position. @standing.Opponent.Name</div>
                    <div class="cell">@standing.GamesPlayed</div>
                    <div class="cell">@standing.Win</div>
                    <div class="cell">@standing.Draw</div>
                    <div class="cell">@standing.Loss</div>
                    <div class="cell">@standing.GoalsFor</div>
                    <div class="cell">@standing.GoalsAgainst</div>
                    <div class="cell">@standing.GoalDifference</div>
                    <div class="cell">@standing.Points</div>
                </div>
            }
        </div>
    </div>
	<div class="allTimeRecord">
		All Time Record
		<table>
			<tr>
				<td>GP</td>
				<td>W</td>
				<td>D</td>
				<td>L</td>
				<td>GF</td>
				<td>GA</td>
				<td>GD</td>
				<td>PTS</td>
			</tr>
			<tr class="line">
				<td colspan="8" />
			</tr>
			<tr>
				<td>@Model.AllTimeRecord.GamesPlayed</td>
				<td>@Model.AllTimeRecord.Wins</td>
				<td>@Model.AllTimeRecord.Draws</td>
				<td>@Model.AllTimeRecord.Losses</td>
				<td>@Model.AllTimeRecord.GoalsFor</td>
				<td>@Model.AllTimeRecord.GoalsAgainst</td>
				<td>@(@Model.AllTimeRecord.GoalsFor - @Model.AllTimeRecord.GoalsAgainst)</td>
				<td>@Model.AllTimeRecord.Points</td>
			</tr>
		</table>
	</div>
}

@section Scripts
{
    <script type="text/javascript">
        $("#SeasonID").change(function () {
            window.location.href = window.location.href.replace(/[\?#].*|$/, "?season=") + $(this).val();
        });
    </script>
}