@model QuilmesAC.ViewModels.MatchViewModel
@{
    ViewBag.Title = "Fixtures";
}
@section Head
{
    <link href="@Url.Content("/Views/Match/Index.less")" rel="stylesheet/less" type="text/css" />
}
<h2>Fixtures and Results</h2>
<ul>
    <li>
        @Html.LabelFor(model => model.SeasonID)
        @Html.DropDownListFor(model => model.SeasonID, Model.Seasons, "All Time")
    </li>
</ul>

@using (Html.BeginForm(null, null, FormMethod.Get, new { id = "mainForm" }))
{
    <table id="list"></table>
    <div id="pager"></div>
    <table id="standingList"></table>
    <div id="standingPager"></div>
    <div class="allTimeRecord">
        All Time Record
        <table>
            <tr>
                <td>GP</td>
                <td>W</td>
                <td>D</td>
                <td>L</td>
                <td>GF</td>
                <td>GA</td>
                <td>GD</td>
                <td>PTS</td>
            </tr>
            <tr class="line">
                <td colspan="8" />
            </tr>
            <tr>
                <td>@Model.AllTimeRecord.GamesPlayed</td>
                <td>@Model.AllTimeRecord.Wins</td>
                <td>@Model.AllTimeRecord.Draws</td>
                <td>@Model.AllTimeRecord.Losses</td>
                <td>@Model.AllTimeRecord.GoalsFor</td>
                <td>@Model.AllTimeRecord.GoalsAgainst</td>
                <td>@(@Model.AllTimeRecord.GoalsFor - @Model.AllTimeRecord.GoalsAgainst)</td>
                <td>@Model.AllTimeRecord.Points</td>
            </tr>
        </table>
    </div>
}

@section Scripts
{
    <script id="Match.js" src="~/Views/Match/Match.js"
            data-url="@Url.Action("GridData")"
            data-sort-by="@ViewBag.SortBy"
            data-sort-order="@ViewBag.SortOrder"
            data-page="@ViewBag.Page"
            data-rows="@ViewBag.Rows"
            data-action-edit="@Url.Action("Edit", "Match", new { id = "" })"></script>

    <script id="Standing.js" src="~/Views/Match/Standing.js"
            data-url="@Url.Action("StandingGridData")"
            data-sort-by="@ViewBag.SortBy"
            data-sort-order="@ViewBag.SortOrder"
            data-page="@ViewBag.Page"
            data-rows="@ViewBag.Rows"></script>
}