@{
    ViewBag.Title = "Positions";
}
@section Head
{
    <link href="@Url.Content("/Views/Position/Index.less")" rel="stylesheet/less" type="text/css" />
}

<h2>Positions</h2>
@using (Html.BeginForm())
{
    <div class="center-table">
        <div id="positionTable">
            <table id="positionList"></table>
            <div id="positionPager"></div>
        </div>
        <div id="playerPositionTable">
            <table id="playerPositionList"></table>
            <div id="playerPositionPager"></div>
        </div>
        <div class="clear"></div>
    </div>
}

@section Scripts
{
    <script type="text/javascript">
        //jqGrid for positions
        jQuery(document).ready(function () {
            function updateDialog(url) {
                return {
                    url: url,
                    closeAfterAdd: true,
                    closeAfterEdit: true,
                    modal: true
                };
            }

            jQuery("#positionList").jqGrid({
                url: "@Url.Action("PositionGridData")",
                datatype: "local",
                gridview: true,
                height: "100%",
                hidegrid: false,
                loadtext: "Retrieving Positions...",
                mtype: "POST",
                forceFit: true,
                autowidth: false,
                sortable: true,
                width: "250",
                cellLayout: 6, // gets rid of annoying horizontal scrollbar
                colNames: ["ID", "Name", "Abbv."],
                colModel: [
                    // index must be the column name for sorting with orderby
                    { name: "ID", index: "ID", editable: false, hidden: true, editoptions: { readonly: true } },
                    { name: "Name", index: "Name", align: "left", editable: true, editrules: { required: true }, formoptions: { elmsuffix: "(*)" } },
                    { name: "ShortName", index: "ShortName", align: "left", editable: true, editrules: { required: true }, formoptions: { elmsuffix: "(*)" } }
                ],
                cellEdit: false,
                pager: "#positionPager",
                rowList: [15, 50, 100],
                sortname: "@(ViewBag.SortBy)",
                sortorder: "@(ViewBag.SortOrder)",
                page: "@(ViewBag.Page)",
                rowNum: "@(ViewBag.Rows)",
                postData: { seasonID: "@Model.ID" },
                viewrecords: true
            }).navGrid("#positionPager", { edit: true, add: true, del: true, search: false, refresh: false },
                    updateDialog("@Url.Action("EditPosition")"),
                    updateDialog("@Url.Action("AddPosition")"),
                    updateDialog("@Url.Action("DeletePosition")"))
                .filterToolbar({ stringResult: true, searchOnEnter: false, defaultSearch: "cn" })
                .setGridParam({ datatype: "json" }); // Done this way for default filter values.

            $("#positionList")[0].triggerToolbar();

            jQuery("#playerPositionList").jqGrid({
                url: "@Url.Action("PlayerPositionGridData")",
                datatype: "local",
                gridview: true,
                height: "100%",
                hidegrid: false,
                loadtext: "Retrieving Positions...",
                mtype: "POST",
                forceFit: true,
                autowidth: false,
                sortable: true,
                width: "550",
                cellLayout: 6, // gets rid of annoying horizontal scrollbar
                colNames: ["ID", "Player", "Position", "Primary"],
                colModel: [
                    // index must be the column name for sorting with orderby
                    { name: "ID", index: "ID", editable: false, hidden: true, editoptions: { readonly: true } },
                    { name: "PlayerID", index: "Player.LastName", align: "left", editable: true, edittype: "select", editoptions: { dataUrl: "@Url.Content("~/Position/GetPlayers/")" }, editrules: { required: true }, formoptions: { elmsuffix: "(*)" } },
                    { name: "PositionID", index: "PositionID", align: "left", editable: true, edittype: "select", editoptions: { dataUrl: "@Url.Content("~/Position/GetPositions/")" }, editrules: { required: true }, formoptions: { elmsuffix: "(*)" } },
                    { name: "PrimaryPosition", index: "PrimaryPosition", align: "left", editable: true, edittype: "checkbox", editoptions: { value: "true:false" } }
                ],
                cellEdit: false,
                pager: "#playerPositionPager",
                rowList: [15, 50, 100],
                sortname: "@(ViewBag.SortBy)",
                sortorder: "@(ViewBag.SortOrder)",
                page: "@(ViewBag.Page)",
                rowNum: "@(ViewBag.Rows)",
                postData: { seasonID: "@Model.ID" },
                viewrecords: true
            }).navGrid("#playerPositionPager", { edit: true, add: true, del: true, search: false, refresh: false },
                updateDialog("@Url.Action("EditPlayerPosition")"),
                updateDialog("@Url.Action("AddPlayerPosition")"),
                updateDialog("@Url.Action("DeletePlayerPosition")"))
            .filterToolbar({ stringResult: true, searchOnEnter: false, defaultSearch: "cn" })
            .setGridParam({ datatype: "json" }); // Done this way for default filter values.

            $("#playerPositionList")[0].triggerToolbar();
        });
    </script>
}